html, body, .backgroundTransition, .backgroundTransition .image-top, .backgroundTransition .image-bottom {
    height: 100%;
    width: 100%;
}
body {
  margin: 0;
  .backgroundTransition {
    position: relative;
    overflow: hidden;
    background-size: cover;
    .image-bottom, .image-top {
      position: absolute;
      left: 0;
      top: 0;
      background-size: cover;
    }
    .image-bottom {
        z-index: -2;
    }
    .image-top {
        z-index: -1;
        display: none;
    }
  }
}
#image-download {
    display: none;
}
